name: Release

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
          cache: true

      - name: Build binaries
        run: |
          mkdir dist
          platforms=("linux/amd64" "linux/arm64" "darwin/amd64" "darwin/arm64" "windows/amd64")
          
          for platform in "${platforms[@]}"
          do
            IFS="/" read -r -a split <<< "$platform"
            GOOS="${split[0]}"
            GOARCH="${split[1]}"
            output_name="kubectl-parallel_drain-${GOOS}-${GOARCH}"
            if [ "$GOOS" = "windows" ]; then
              output_name+=".exe"
            fi
            
            echo "Building for $GOOS/$GOARCH..."
            env GOOS=$GOOS GOARCH=$GOARCH go build -ldflags="-s -w -X main.version=${{ github.ref_name }}" -o "dist/$output_name" main.go
          done

      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: dist/*
          generate_release_notes: true
